<div class="Popup" id="myEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <img src="assets/images/avatars/logoEcoit.jpg" style="width: 125px;" alt="logo">
        </div>
        <h4>Nhật ký</h4>
<!--        <span class="close-btn" (click)="closeModal()">&times;</span>-->
      </div>

      <div class="modal-body">
        <div class="Set-pop">
          <table class="table">
            <thead>
              <th>Thời gian</th>
              <th>Phương thức</th>
              <th>Trang</th>
              <th>Tham số</th>
              <th>Hoạt động</th>
            </thead>
            <tbody>
<!--            <tr *ngFor="let h of histories">-->
<!--              <td>{{h.date}}</td>-->
<!--              <td>{{h.method}}</td>-->
<!--              <td>{{h.page}}</td>-->
<!--              <td>{{h.queryString}}</td>-->
<!--              <td>{{h.type}}</td>-->
<!--            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
