<div class="modal-custom">
    <div class="error404">
      <div class="page-404-content section-space--ptb_100">
        <div class="container">
          <div class="row full-height">
            <div class="col-md-12 text-center">
  
              <div class="error-image">
                <img class="img-fluid" src="../../../assets/images/other/page-404-image.png" alt="Not Found Image">
              </div>
  
              <div class="error-buttons section-space--mt_50">
                <a href="/" class="ht-btn ht-btn-md">
                  <span class="button-icon mr-2"><i class="fa fa-home"></i></span>
                  <span class="button-text">Go back to homepage</span>
                </a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  